@import "tailwindcss";

@theme {
  --color-wedding-black: #2c2925;
  --color-wedding-white: #fcfaf8;
  --color-wedding-gray: #5a544e;
  --font-sans:
    "Capsuula", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: "Capsuula";
  src: url("/fonts/capsuula.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
