<section id="dress-code" class="py-24 max-w-4xl mx-auto px-6 border-t border-wedding-gray/30 scroll-mt-24">
    <h2 class="text-4xl md:text-5xl font-extrabold text-center mb-16 flex items-center justify-center gap-2">Dress Code
      <span class="text-xl md:text-2xl text-wedding-gray">⋅⋅∸⋅</span>
    </h2>
    <div class="bg-wedding-white border-2 border-wedding-black p-10 text-center shadow-xl">
        <p>Žádný.</p>
    </div>
</section>
