---
const dressCode = {
  title: "Dress Code",
  main: "Žádný.",
  detail: "Přijďte v tom, v čem se cítíte dobře.",
  subDetail:
    "Svatba se odehrává v interiéru i exteriéru, tak na to prosím myslete při výběru obuvi.",
};
---

<section id="dress-code" class="mx-auto max-w-4xl scroll-mt-24 px-6 py-24">
  <h2
    class="text-wedding-dark mb-20 flex items-center justify-center gap-4 text-center text-4xl font-bold md:text-5xl"
  >
    <span
      class="text-wedding-medium text-2xl tracking-tighter opacity-20 md:text-3xl"
      >−··</span
    >
    {dressCode.title}
    <span
      class="text-wedding-medium text-2xl tracking-tighter opacity-20 md:text-3xl"
      >−·−·</span
    >
  </h2>
  <div
    class="morse-border text-wedding-medium/30 bg-wedding-light p-16 text-center shadow-sm md:p-24"
  >
    <p class="text-wedding-dark mb-6 text-5xl font-bold tracking-tight">
      {dressCode.main}
    </p>
    <p class="text-wedding-dark mb-8 text-2xl font-medium italic">
      {dressCode.detail}
    </p>
    <div class="morse-line text-wedding-medium/30 mx-auto my-12 h-[2px] w-64">
    </div>
    <p
      class="text-wedding-dark mx-auto max-w-sm text-sm leading-relaxed font-bold tracking-[0.2em] uppercase"
    >
      {dressCode.subDetail}
    </p>
  </div>
</section>
