<footer
  class="bg-wedding-white text-wedding-black border-wedding-gray/20 mt-32 border-t py-24 text-center"
>
  <div class="mx-auto max-w-6xl px-6">
    <div
      class="mb-12 flex flex-col items-center justify-center gap-8 text-4xl font-bold tracking-tight md:flex-row md:text-6xl"
    >
      <div class="flex items-center gap-4">
        <span class="opacity-40">H</span>
        <span class="text-2xl opacity-10 md:text-3xl">⋅⋅⋅⋅</span>
      </div>
      <span class="mx-4 hidden text-3xl font-light opacity-10 md:block">/</span>
      <div class="flex items-center gap-4">
        <span class="opacity-40">F</span>
        <span class="text-2xl opacity-10 md:text-3xl">⋅⋅-⋅</span>
      </div>
    </div>
    <p class="mb-1 text-xl font-bold">Těšíme se na vás!</p>
    <p class="text-wedding-gray text-sm tracking-[0.2em] uppercase">
      Hanka & Filip
    </p>
    <p class="text-wedding-gray mt-2 text-[10px] tracking-widest uppercase">
      Šlapanice, 15. srpna 2026
    </p>
    <div class="mt-24 pt-10">
      <p class="text-[9px] font-bold tracking-[0.5em] uppercase opacity-40">
        ⋅⋅∸⋅ Vytvořeno s morseovkou ⋅⋅∸⋅
      </p>
    </div>
  </div>
</footer>
