<footer
  class="bg-wedding-light text-wedding-dark border-wedding-medium/20 mt-32 border-t py-24 text-center"
>
  <div class="mx-auto max-w-6xl px-6">
    <div
      class="mb-12 flex flex-col items-center justify-center gap-8 text-4xl font-bold tracking-tight md:flex-row md:text-6xl"
    >
      <div class="flex items-center gap-4">
        <span class="opacity-60">H</span>
        <span class="text-3xl opacity-20 md:text-4xl">⋅⋅⋅⋅</span>
      </div>
      <span class="mx-4 hidden text-4xl font-light opacity-20 md:block">/</span>
      <div class="flex items-center gap-4">
        <span class="opacity-60">F</span>
        <span class="text-3xl opacity-20 md:text-4xl">⋅⋅-⋅</span>
      </div>
    </div>
    <p class="mb-2 text-3xl font-bold">Těšíme se na vás!</p>
    <p class="text-wedding-dark text-lg font-bold tracking-[0.2em] uppercase">
      Hanka & Filip
    </p>
    <p
      class="text-wedding-medium mt-3 text-sm font-bold tracking-widest uppercase"
    >
      Šlapanice, 15. srpna 2026
    </p>
    <div class="border-wedding-medium/10 mt-24 border-t pt-10">
      <p class="text-xs font-bold tracking-[0.5em] uppercase opacity-60">
        ⋅⋅∸⋅ Vytvořeno s morseovkou ⋅⋅∸⋅
      </p>
    </div>
  </div>
</footer>
