<nav
  id="nav-menu"
  class="bg-wedding-white fixed top-0 left-0 z-40 hidden h-screen w-full flex-col justify-center gap-6 p-10 text-lg font-bold tracking-widest uppercase transition-all duration-300 md:relative md:flex md:h-auto md:w-auto md:flex-row md:items-center md:justify-end md:gap-10 md:bg-transparent md:p-0 md:text-base"
>
  <a
    href="#o-nas"
    class="text-wedding-black hover:text-wedding-gray border-wedding-gray/20 flex items-center gap-4 border-b py-2 transition-colors md:border-b-0 md:border-none md:py-0"
  >
    <span class="text-wedding-gray opacity-30 md:hidden">−−·</span>
    O nás
    <span class="text-wedding-gray opacity-30 md:hidden">·−·−</span>
  </a>
  <a
    href="#kdy-a-kde"
    class="text-wedding-black hover:text-wedding-gray border-wedding-gray/20 flex items-center gap-4 border-b py-2 transition-colors md:border-b-0 md:border-none md:py-0"
  >
    <span class="text-wedding-gray opacity-30 md:hidden">−·−</span>
    Kdy a kde
    <span class="text-wedding-gray opacity-30 md:hidden">−−·−</span>
  </a>
  <a
    href="#harmonogram"
    class="text-wedding-black hover:text-wedding-gray border-wedding-gray/20 flex items-center gap-4 border-b py-2 transition-colors md:border-b-0 md:border-none md:py-0"
  >
    <span class="text-wedding-gray opacity-30 md:hidden">····</span>
    Harmonogram
    <span class="text-wedding-gray opacity-30 md:hidden">−−−−</span>
  </a>
  <a
    href="#dary"
    class="text-wedding-black hover:text-wedding-gray border-wedding-gray/20 flex items-center gap-4 border-b py-2 transition-colors md:border-b-0 md:border-none md:py-0"
  >
    <span class="text-wedding-gray opacity-30 md:hidden">−··</span>
    Dary
    <span class="text-wedding-gray opacity-30 md:hidden">−·−−</span>
  </a>
  <a
    href="#rsvp"
    class="text-wedding-black hover:text-wedding-gray border-wedding-gray/20 flex items-center gap-4 border-b py-2 transition-colors md:border-b-0 md:border-none md:py-0"
  >
    <span class="text-wedding-gray opacity-30 md:hidden">··−</span>
    Účast
    <span class="text-wedding-gray opacity-30 md:hidden">−·−·</span>
  </a>
  <a
    href="#dress-code"
    class="text-wedding-black hover:text-wedding-gray border-wedding-gray/20 flex items-center gap-4 border-b py-2 transition-colors md:border-b-0 md:border-none md:py-0"
  >
    <span class="text-wedding-gray opacity-30 md:hidden">−··</span>
    Dress Code
    <span class="text-wedding-gray opacity-30 md:hidden">−·−·</span>
  </a>
</nav>
