<section id="rsvp" class="py-24 max-w-xl mx-auto px-6 text-center border-t border-wedding-gray/30 scroll-mt-24">
  <h2 class="text-4xl md:text-5xl font-extrabold mb-5 flex items-center justify-center gap-2">Potvrzení účasti
    <span class="text-xl md:text-2xl text-wedding-gray">⋅⋅∸⋅</span>
  </h2>
  <div class="bg-wedding-white border-2 border-wedding-black p-10 mt-10 shadow-2xl">
    <p>Sem umístíme formulář pro potvrzení účasti.</p>
  </div>
</section>
