---
const misto = "Sokec, Šlapanice";
const datum = "15. srpna 2026 v 15.00";
---
<section id="kdy-a-kde" class="py-24 max-w-4xl mx-auto px-6 border-t border-wedding-gray/30 scroll-mt-24">
    <h2 class="text-4xl md:text-5xl font-extrabold text-center mb-16 flex items-center justify-center gap-2">Kdy a kde
      <span class="text-xl md:text-2xl text-wedding-gray">⋅⋅∸⋅</span>
    </h2>

    <div class="grid md:grid-cols-2 gap-10">
        <div class="bg-wedding-white border-2 border-wedding-black p-10 flex flex-col items-center justify-center text-center shadow-xl">
            <p class="text-wedding-gray text-sm mb-1">Datum a čas</p>
            <p class="text-2xl font-bold">{datum}</p>
        </div>
        <div class="bg-wedding-white border-2 border-wedding-black p-10 flex flex-col items-center justify-center text-center shadow-xl">
            <p class="text-wedding-gray text-sm mb-1">Místo</p>
            <p class="text-2xl font-bold">{misto}</p>
        </div>
    </div>
    <p class="text-center text-wedding-gray mt-16 p-10 border border-wedding-gray/20 shadow-inner">Sem pak přidáme mapu, adresu a případně odkaz na ubytování.</p>
</section>
